body {
    /** Explicitly set margin to 0 as some browsers add a default margin */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container, .full-width-container {
    width: 100%;
    padding-top: 20px;
}

.container {
    /** Max Width */
    max-width: 1312px;

    /** Margin */
    margin-left: auto;
    margin-right: auto;
}

.brand-logo-media {
    background-color: #0077c8;
    background-size: 75%;
    height: 125px;
    width: auto;
}

.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input {
    padding: 6px 0 8px;
}